@import-normalize; /* bring in normalize.css styles */
@import 'fonts/fonts.css';

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #e7e7e7;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 719px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 720px) {
  .container {
    padding: 0 24px;
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 1200px;
  }
}

section {
  margin-top: 80px;
}
