.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 24px auto 0;
}

@media screen and (min-width: 720px) {
  .list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }
}
